.container-profissional{
    display: grid;
    grid-template-columns: 500px 1fr;
}
.profissional{
    margin-bottom: 5rem;
}

.container-img-profissional img{
    width: 400px;
    height: auto;
    background-size: cover;
    border-radius: 20px;
    
}
.profissional h2{
    font-size: 3rem;
    font-family: poppins;
    line-height: 1.2;
    margin-bottom: 4rem;
    max-width: 20ch;
    color: var(--primary-color);
}
.container-img-profissional{
    position: relative;

}
.text-profissional{
    position: absolute;
    bottom: 50px;
    left: 20px;
    background-color: white;
    padding: 15px 30px;
    border-radius: 20px;
}
.text-profissional h3{
    font-family: poppins;
    color: var(--primary-color);
    font-size: 1.2rem;
}
.text-profissional p{
    font-family: roboto;
    color: var(--text-light);
    font-size: 1.1rem;

}
.container-sobre-text{
    margin-bottom: 2.5rem;
}

.container-sobre-text h3{
    font-family: poppins;
    color: var(--primary-color);
    font-size: 1.7rem;
    margin-bottom: 5px;
}
.container-sobre-text p{
    font-family: roboto;
    color: var(--text-light);
    max-width: 50ch;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.card-profissional{
    display: flex;
    justify-content: space-around;
}
.card-profissional-item{
    flex-shrink: 0;
    width: 250px;
}
.card-profissional-item i{
    font-size: 2rem;
}
.card-profissional h3{
    font-family: poppins;

}
.card-profissional p{
    font-family: roboto;
    font-size: 1.1rem;
}
.card-profissional-item{
    background-color: #b9e9f4;
    padding: 60px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
@media only screen and (max-width: 800px){
    .container-profissional{
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    .profissional h2{
        padding: 0 20px;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .container-img-profissional img{
        width: 320px;
        height: auto;
        background-size: cover;
        border-radius: 20px;
    }
    .card-profissional{
        flex-wrap: wrap;
    }
    .card-profissional-item{
        background-color: #b9e9f4;
        padding: 60px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }
    .container-img-profissional{
        margin: 0 auto;
    }
    .container-sobre-text h3{
        font-size: 1.4rem;
        padding: 0 5px;
    }
    .container-sobre-text p{
        padding: 0 5px;
    }
}